/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/

@media screen and (max-width:1300px) {

    .wy_choose_us_wrap {
        .container {

            text-align: center;

            .wy_choose_us {
                margin: 0 auto;

                h2 {
                    padding-top: 100px;
                    margin-bottom: 40px;
                }

                .btn_explore {
                    margin-bottom: 50px;
                }
            }

            .pictures {
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                margin: 0 auto;
                top: 0;
                right: 0;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                max-width: 100%;
                padding-bottom: 50px;
                gap: 15px;

                .pic_water {
                    top: 0;
                    /* right: 0;*/
                }

                .pic_mountains {
                    top: 0;
                    position: relative;
                    right: 0;
                }
            }
        }
    }
}


@media screen and (max-width:1216px) {

    .what_our_tourist_say {

        .flex {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;

            .img_man {
                max-width: 100%;

                img {
                    max-width: 100%;

                }
            }

            .sam {
                max-width: 100%;
                padding: 20px;
            }
        }
    }
}


@media screen and (max-width:1153px) {



    .header_top {
        .container {
            .header_wrapper {
                .logo {
                    padding-top: 170px;
                }
            }
        }

        .arrow_wrap {
            padding-bottom: 80px;
        }
    }

    .spain_house_wrapper {
        .container {
            .spain_house {
                padding-top: 170px;
            }
        }
    }

    .spain_seaside_wrapper {
        .container {

            .spain_seaside {
                padding-top: 170px;
            }
        }
    }

    .icons {
        .container {
            padding-bottom: 10px;
        }
    }

    .what_our_tourist_say {
        .container {
            padding-bottom: 100px;

            .title {
                padding-top: 70px;
                padding-bottom: 60px;
            }
        }
    }

    footer {
        .logo {
            padding-top: 60px;
        }
    }
}


@media screen and (max-width:1015px) {

    .wy_choose_us {
        width: 70%;
    }


    .icons {
        .container {
            padding-bottom: 10px;

            .container {
                .item {
                    -webkit-transform: scale(0.8);
                    -ms-transform: scale(0.8);
                    transform: scale(0.8);
                    margin: 0 35px;
                }

                &::after {
                    width: 100%;
                }
            }
        }
    }

    footer {
        padding-bottom: 40px;

        .logo {
            padding-top: 40px;
        }
    }
}


@media screen and (max-width:914px) {
    .spain_house_wrapper {
        .container {
            .spain_house {
                margin: 0 auto;
                width: 65%;
                text-align: center;

                .background {
                    padding-right: 20px;
                }
            }
        }
    }

    .spain_seaside_wrapper {
        .container {
            .spain_seaside {
                margin: 0 auto;
                width: 65%;
                text-align: center;

                .background {
                    padding-right: 20px;
                }
            }
        }
    }
}


@media screen and (max-width:800px) {
    .header_top {
        .container {
            .header_wrapper {
                .logo {
                    padding-top: 150px;
                    -webkit-transform: scale(0.8);
                    -ms-transform: scale(0.8);
                    transform: scale(0.8);
                }

                .form {


                    .input {
                        width: 380px;
                        height: 40px;
                        margin-bottom: 100px;
                    }

                    .btn {
                        height: 40px;
                        width: 120px;
                        padding-left: 10px;
                        background-position: 88px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    .menu_wrapper {

        .small_logo {
            -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
            transform: scale(0.6);
        }

        .main_menu {
            ul {
                li {
                    +li {
                        margin-left: 5px;
                    }
                }
            }
        }
    }


    .wy_choose_us_wrap {
        .wy_choose_us {
            width: 80%;

            h2 {
                padding-top: 60px;
                margin-bottom: 18px;
            }

            p {
                margin-bottom: 10px;
            }

            .btn_explore {
                margin-bottom: 25px;
            }
        }

        .pictures {
            display: block;

            .pic_water {
                margin-bottom: 15px;
            }
        }
    }


    .icons {
        padding-bottom: 0;
        margin-bottom: -30px;

        .item {
            -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
            transform: scale(0.5);
            margin: 0;
            padding-top: 0;

            i {
                padding: 0;
            }

            &::after {
                left: 120px;
            }
        }
    }
}

.spain_house_wrapper {
    .container {
        .spain_house {
            padding-top: 100px;
        }
    }
}

.spain_seaside_wrapper {
    .container {
        .spain_seaside {
            padding-top: 100px;
        }
    }
}

.what_our_tourist_say {
    .container {
        padding-bottom: 50px;

        .title {
            padding-top: 50px;
            padding-bottom: 50px;
            line-height: 36px;
        }
    }
}

footer {
    padding-bottom: 10px;

    .logo {
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }

    .subtitle {
        padding-bottom: 5px;
    }

    .social_icons {

        ul,
        li {
            a {
                font-size: 16px;
            }
        }
    }
}



@media screen and (max-width:677px) {
    .main_menu {
        display: none;
    }

    #hamburger_menu {
        display: block;
    }

    .menu_wrapper {
        padding-top: 10px;
    }


}


@media screen and (max-width:687px) {

    .icons {
        .container {
            margin-bottom: -90px;
            margin-top: -30px;

            .item {
                -webkit-transform: scale(0.5);
                -ms-transform: scale(0.5);
                transform: scale(0.5);
                text-align: center;
                margin: 0;

                i {
                    padding: 0;
                }

                h3 {
                    line-height: 40px;
                }

                &::after {
                    top: -250px;
                }
            }
        }
    }
}


@media screen and (max-width:677px) {
    .menu_wrapper {
        .container {
            padding-top: 0;
            margin-bottom: -25px;
        }
    }


    .header_top {
        .container {
            .header_wrapper {
                .logo {

                    -webkit-transform: scale(0.7);

                    -ms-transform: scale(0.7);

                    transform: scale(0.7);
                }

                .form {
                    .input {
                        width: 280px;
                        height: 40px;
                        font-size: 12px;
                        margin-bottom: 50px;
                    }

                    .btn {
                        height: 40px;
                        width: 120px;
                        padding-left: 10px;
                        background-position: 88px;
                    }
                }
            }
        }
    }

    .wy_choose_us_wrap {
        .container {
            .wy_choose_us {
                width: 100%;

                h2 {
                    padding-top: 50px;
                    font-size: 25px;
                }

                p {
                    line-height: 16px;
                }
            }
        }
    }
}

@media screen and (max-width:677px) {
    .spain_house_wrapper {
        .container {
            .spain_house {
                width: 90%;

                .background {
                    padding-right: 20px;
                }
            }
        }
    }

    .spain_seaside_wrapper {
        .container {
            .spain_seaside {
                width: 90%;

            }
        }
    }
}

@media screen and (max-width:630px) {
    .header_top {
        .container {
            .header_wrapper {
                .form {

                    .btn {
                        margin-right: -27%;
                    }
                }
            }
        }
    }

    .icons {
        .container {
            margin-bottom: -90px;
            margin-top: -30px;

            .item {
                padding-bottom: 40px;

                h3 {
                    line-height: 40px;
                    font-size: 26px;
                }

                &::after {
                    opacity: 0;
                }
            }
        }
    }
}

@media screen and (max-width:538px) {

    .header_top {
        .container {
            .header_wrapper {

                .form {
                    .input {
                        width: 175px;
                        margin-left: -100px;
                    }

                    .btn {
                        margin-right: 100px;
                    }
                }
            }
        }
    }

    .spain_house_wrapper {
        .container {
            .spain_house {
                width: 100%;
                padding-top: 50px;

                .background {
                    padding: 20px 20px;
                }

                .p {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .spain_seaside_wrapper {
        .container {
            .spain_seaside {
                width: 100%;
                padding-top: 50px;

                .background {
                    padding: 20px 20px;
                }

                .p {
                    margin-bottom: 5px;
                }
            }
        }
    }
}


@media screen and (max-width:350px) {
    .what_our_tourist_say {
        .container {
            .flex {
                .sam {
                    padding: 30px;

                    p {
                        text-align: justify;
                    }
                }
            }
        }
    }
}