@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 10 version
*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-Regular.woff);
}
@font-face {
  font-family: "Montserrat_regular";
  src: url(../fonts/Montserrat/Montserrat-Regular.woff);
}
@font-face {
  font-family: "Montserrat_bold";
  src: url(../fonts/Montserrat/Montserrat-Bold.woff);
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-Regular.woff);
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
}

body {
  font-family: "Montserrat_bold", sans-serif;
  font-size: 1rem;
  min-width: 350px;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

#slider {
  max-width: 1600px;
}

header {
  padding-top: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient 243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%;
}

.fixed_nav .menu_wrapper {
  padding: 0 180px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 80px;
  background-color: #16a9da;
  z-index: 1000;
}

.menu_wrapper {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_wrapper .main_menu {
  font-family: "SourceSansPro", sans-serif;
  padding-left: 100px;
}
.menu_wrapper .main_menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 86px;
}
.menu_wrapper .main_menu ul li {
  position: relative;
}
.menu_wrapper .main_menu ul li:hover {
  transform: scale(1.2);
}
.menu_wrapper .main_menu ul li:hover::before {
  background-color: #fff;
}
.menu_wrapper .main_menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 26px;
  margin-right: 10px;
}
.menu_wrapper .main_menu ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  right: 85px;
  top: 10px;
}

.social_icons li:hover {
  transform: scale(1.25);
}

.news::before {
  position: absolute;
  left: -28px;
}

.social_icons ul,
.social_icons li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.social_icons ul a,
.social_icons li a {
  text-decoration: none;
  color: #fff;
}
.social_icons ul a:hover,
.social_icons li a:hover {
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  color: #5474fd;
}

#slider_first .slick-dots {
  bottom: 266px;
  width: 5%;
  position: absolute;
  right: 0;
  margin-right: -150px;
}
#slider_first .slick-dots li {
  padding-bottom: 44px;
}

.slides h2 {
  font-family: "Montserrat_bold", sans-serif;
  font-family: sans-serif;
  text-transform: uppercase;
  padding-top: 210px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  line-height: 98px;
  letter-spacing: 0.1em;
}

.slides h4 {
  font-family: "Montserrat_regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 59px;
  letter-spacing: 0.3em;
  padding-bottom: 312px;
}

.arrow_wrap {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  top: 630px;
  right: 49%;
}
.arrow_wrap .arrow {
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-top: 14.5px;
}

.what_we_do {
  color: #2C4058;
  padding-bottom: 26px;
  position: relative;
  padding-top: 100px;
}
.what_we_do .line {
  width: 99px;
  height: 1px;
  border-top: 1px solid #2C4058;
  position: absolute;
  top: 99px;
  right: 46%;
}
.what_we_do h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 54px;
}
.what_we_do .h3_title {
  padding-top: 31px;
  padding-bottom: 88px;
}

/*  .container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
*/
.trade-center {
  display: flex;
  width: 107%;
}
.trade-center .trade-center_pics {
  position: relative;
  left: -90px;
  width: 100%;
  height: 100%;
}
.trade-center .trade-center_pics .pic_trade_center img {
  position: relative;
  z-index: 4;
  top: 57px;
  left: 15%;
  width: 100%;
  /*  img {
      width: 100%;
  }
  */
}
.trade-center .trade-center_pics .pic_colored {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #55B7FF;
  z-index: 3;
}
.trade-center .trade-center_text {
  padding-top: 152px;
  position: relative;
  left: 75px;
}
.trade-center .trade-center_text h5 {
  font-family: "Montserrat_regular", sans-serif;
  font-size: 1.375rem;
  line-height: 27px;
}
.trade-center .trade-center_text .h3_left {
  text-align: left;
  padding-bottom: 19px;
}
.trade-center .trade-center_text p {
  font-family: "OpenSans";
  font-size: 1.125rem;
  line-height: 30px;
  padding-bottom: 30px;
  padding-right: 155px;
}
.trade-center .trade-center_text .btn_section_1_trade {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  border: 1px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 40px;
  font-family: "Montserrat_regular", sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 50px;
  margin-bottom: 62px;
}
.trade-center .trade-center_text .btn_section_1_trade:hover {
  background-image: linear-gradient(to right, pink, lightgreen);
  color: #fff;
}
.trade-center .trade-center_text .location .icon-location {
  padding-right: 3px;
}
.trade-center .trade-center_text .location span {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 9px;
}

.commerce-center {
  color: #2C4058;
  display: flex;
  padding-bottom: 164px;
}
.commerce-center .commerce-center_text {
  left: 0;
  padding-top: 80px;
  width: 72%;
}
.commerce-center .commerce-center_text h5 {
  padding-top: 208px;
  font-family: "Montserrat_regular", sans-serif;
  font-size: 1.375rem;
  line-height: 27px;
}
.commerce-center .commerce-center_text .h3_left {
  text-align: left;
  padding-bottom: 19px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 54px;
}
.commerce-center .commerce-center_text p {
  font-family: "OpenSans";
  font-size: 1.125rem;
  line-height: 30px;
  padding-bottom: 30px;
}
.commerce-center .commerce-center_text .btn_section_1_commerce {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  border: 1px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 40px;
  font-family: "Montserrat_regular", sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 50px;
  margin-bottom: 62px;
}
.commerce-center .commerce-center_text .btn_section_1_commerce:hover {
  background-image: linear-gradient(to right, pink, lightgreen);
  color: #fff;
}
.commerce-center .commerce-center_text .location_commerce span {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-bottom: 123px;
  padding-left: 9px;
}
.commerce-center .commerce-center_pics {
  position: relative;
  right: -120px;
  top: 135px;
  height: 100%;
  width: 100%;
}
.commerce-center .commerce-center_pics .pic_commerce_center img {
  position: relative;
  z-index: 4;
  top: 57px;
  right: 89px;
  width: 100%;
}
.commerce-center .commerce-center_pics .pic_colored_commerce {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7E5AFF;
  z-index: 3;
}

.latest_news {
  color: white;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.latest_news .line {
  position: absolute;
  width: 99px;
  height: 1px;
  border-top: 1px solid white;
  margin: 133px 0 auto;
  right: 47%;
}
.latest_news h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 54px;
  padding-top: 164px;
}

.card_1_unvisible_href {
  height: 518px;
  width: 26%;
  position: absolute;
  top: 305px;
  left: 165px;
}

.card_2_unvisible_href {
  height: 518px;
  width: 26%;
  position: absolute;
  top: 305px;
  left: 554px;
}

.card_3_unvisible_href {
  height: 518px;
  width: 26%;
  position: absolute;
  top: 305px;
  right: 165px;
}

.cards_wrap {
  padding-top: 89px;
}
.cards_wrap .cards {
  height: 514px;
  background-color: #fff;
  color: #2C4058;
  position: relative;
  margin-bottom: 213px;
  width: 33.33333%;
  cursor: pointer;
}
.cards_wrap .cards:hover {
  transform: scale(1.05);
  overflow: hidden;
}
.cards_wrap .cards .author {
  position: absolute;
  bottom: 35px;
}
.cards_wrap .cards .author .date {
  color: #55B7FF;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat_regular";
}
.cards_wrap .card_text {
  padding: 30px 20px;
}
.cards_wrap h4 {
  font-size: 1.375rem;
  line-height: 27px;
  font-family: "Montserrat_bold", sans-serif;
  padding-bottom: 12px;
}
.cards_wrap p {
  font-family: "OpenSans";
  font-size: 1.125rem;
  line-height: 25px;
  padding-bottom: 40px;
}
.cards_wrap .athor_pic img {
  border-radius: 50%;
  position: absolute;
}
.cards_wrap .name,
.cards_wrap .date {
  padding-left: 83px;
  padding-top: 10px;
}
.cards_wrap .name {
  font-size: 1.125rem;
  line-height: 14px;
  font-family: "Montserrat_regular", sans-serif;
}

.slick-slide {
  margin: 0 10px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 132px;
}

.gallery_wrap {
  color: #2C4058;
}
.gallery_wrap .line {
  position: absolute;
  width: 99px;
  height: 1px;
  border-top: 1px solid #2C4058;
  margin: 138px 0 auto;
  right: 47%;
}
.gallery_wrap h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 54px;
  padding-top: 171px;
  padding-bottom: 89px;
}
.gallery_wrap .gallery_pics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 59px;
}
.gallery_wrap .gallery_pics .pic:first-child {
  grid-area: span 2/span 2;
}
.gallery_wrap .btn_wrap {
  text-align: center;
  padding-bottom: 137px;
}
.gallery_wrap .btn_wrap .btn_see_more {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  border: 1px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 56px;
  font-family: "Montserrat_regular", sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 50px;
}
.gallery_wrap .btn_wrap .btn_see_more:hover {
  background-image: linear-gradient(to right, pink, lightgreen);
  color: #fff;
}

.map_popup {
  display: flex;
  justify-content: space-between;
}

.map_popup img {
  width: 100px;
  margin-right: 10px;
}

/*
.leaflet-popup-content-wrapper {
    border-radius: 50%;
}*/
.leaflet-popup-content {
  margin: 6px;
}

#my_map {
  height: 700px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/My_map.png");
  /* img {
          max-width: 100%;
          max-height: 100%;
      }
  */
}

#my_map p {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #000;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  opacity: 0;
  transition: all 0.2s ease;
}
#my_map p img {
  max-width: 100%;
  max-height: 100%;
}

#my_map a:hover p {
  opacity: 0.5;
}

.form {
  font-family: "Montserrat_regular";
  height: 450px;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 60px;
  position: absolute;
  top: -297px;
  right: 25%;
}
.form .line {
  width: 99px;
  height: 1px;
  border-top: 1px solid #2C4058;
  position: absolute;
  top: 59px;
  left: 43.5%;
}
.form h3 {
  padding-top: 31px;
  padding-bottom: 42px;
  color: #2C4058;
  font-size: 2.75rem;
  line-height: 54px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form .flex_wrap {
  display: flex;
  width: 100%;
}
.form .flex_wrap .contacts_wrap {
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 50%;
}
.form .flex_wrap .contacts_wrap img {
  vertical-align: middle;
}
.form .flex_wrap .contacts_wrap a {
  font-size: 1.125rem;
  line-height: 28px;
  color: #000;
  font-family: "Montserrat_regular";
  font-size: 18px;
  line-height: 27px;
  padding-left: 5px;
  text-decoration: none;
}
.form .flex_wrap #registration_wrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 27px;
}
.form .flex_wrap #registration_wrap input[type=text] {
  border: none;
  border-bottom: 1px solid #4B5562;
  padding-bottom: 13px;
  margin-bottom: 33px;
  font-size: 1.125rem;
  line-height: 27px;
}
.form .flex_wrap #registration_wrap input:invalid {
  border: 2px solid red;
}
.form .flex_wrap #registration_wrap input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
}
.form .flex_wrap #registration_wrap input:valid {
  border: 2px solid black;
}
.form .flex_wrap #registration_wrap #email {
  margin-bottom: 31px;
}
.form .flex_wrap input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
.form .flex_wrap .btn_form {
  height: 48px;
  border: 1px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 39px;
  font-family: "Montserrat_regular", sans-serif;
  background-color: #fff;
  font-size: 1rem;
  line-height: 17px;
  align-self: flex-end;
}
.form .flex_wrap .btn_form:hover {
  background-image: linear-gradient(to right, pink, lightgreen);
  color: #fff;
}

footer {
  background-color: lightblue;
  position: relative;
}

.footer_wrap {
  display: flex;
  justify-content: space-around;
  padding-top: 207px;
  padding-left: 29px;
}
.footer_wrap .logo_wrap {
  padding-bottom: 227px;
}
.footer_wrap .small_logo_footer {
  padding-bottom: 40px;
}
.footer_wrap span {
  font-size: 0.875rem;
  line-height: 17px;
  font-family: "Montserrat_regular";
}
.footer_wrap .social_icons ul {
  margin-top: 7px;
}

#hamburger_menu {
  display: none;
}
#hamburger_menu a {
  display: inline-block;
  width: 40px;
  height: 40px;
}
#hamburger_menu a svg {
  width: 40px;
  height: 40px;
}

#page_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  /*чтобы сзади все размывалось под меню*/
}

#mobile_menu_wrap {
  position: fixed;
  top: 0;
  /*//left: -500 px;*/
  left: -110%;
  background-image: linear-gradient(to right, pink, lightgreen);
  color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px #000;
  transition: all 0.4s ease;
  z-index: 2000;
}
#mobile_menu_wrap.top {
  max-width: 100%;
  height: auto;
  min-height: 200px;
}

.sidemenu_top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger--slider .hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
  background-color: #fff;
}

.hamburger--slider.is-active .hamburger-inner,
.hamburger--slider.is-active .hamburger-inner::after {
  background-color: #fff;
}

.sidemenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
}

.open #page_overlay {
  display: block;
}
.open #mobile_menu_wrap {
  left: 0;
}